.header-menu {
    display: flex;
}

.header-menu__item {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 120px;
    text-transform: uppercase;
    height: 100%;
    padding: 0 5px;
    cursor: pointer;
}